.nav{
    height:9vh;
    width:100%;
    position: fixed;
    background-color: rgba(39, 36, 36, 0.823);
    opacity: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    box-shadow:0 0 5px black;
}
.tog{
    height:70%;
    width:5%;
    display: none;
    position: relative;
    padding: 10px;
    margin-left: 2%;
}
.tog img{
    height:80%;
    width:80%;
    object-fit: cover;
}
.logo{
    margin: 0 5%;
    font-size: 1.8rem;
    color: aliceblue;
    font-weight: bold;
}
.list{
    display: flex;
    justify-content: space-around;
    width: 40%;
 
}
.list a{
    text-decoration: none;
    color:aliceblue;
    font-size: 1.1rem;
    position: relative;
    padding: 5px 5px;
    overflow: hidden;
    letter-spacing: 1px;
}
.list a::after{
content:'';
height:3px;
width:100%;
background-color:  rgba(243, 243, 78, 0.884);
position: absolute;
left:0;
bottom: 0;
border-radius: 3px;
transition: 0.5s ease-out;
transform: translateX(-100%);
}
.list a:hover::after{
    transform: translateX(0%);
}
@media (max-width:1160px){
    .tog{
        display:block;
        height:70%;
        width:4%;
        margin-top: 1%;
    }
    .list{
        display: none;
    }
}
@media (max-width:768px){
    .tog{
        height:70%;
        width:5%;
        margin-top: 2%;
    }
}
@media (max-width:435px){
    .tog{
        height:70%;
        width:12%;
        margin-top: 3%;
    }
}
@media (max-width:321px){
    .tog{
        height:50%;
        width:8%;
        padding:8px ;
        margin-top: 4%;
    }
}